@use "variables" as *;

.airport {
  position: absolute;
  top: -4px;
  z-index: 3;

  display: flex;
  align-items: center;

  width: $airport-width;
  height: 50px;

  background: $dark-gradient;

  box-shadow:
    inset 0 1px 0 rgb(255 255 255 / 8%),
    inset 0 -1px 0 rgb(0 0 0 / 20%);

  &-face {
    position: absolute;
    z-index: -1;

    inset: $airport-border;

    background:
      linear-gradient(
        180deg,
        #dedede 0%,
        #ffffff 42%,
        #e2e5e7 100%
      );
  }

  &-content {
    position: relative;
    z-index: 2;

    display: flex;
    align-items: center;

    width: 100%;
    height: 100%;
  }

  &-text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 0;

    line-height: 1;
    white-space: nowrap;
  }

  &-label {
    color: $blue;

    font-size: 20px;
    font-weight: 500;
    line-height: 1;
  }

  &-code {
    margin-top: -2px;

    color: $dark;

    font-size: 20px;
    font-weight: 600;
    line-height: 1;

    letter-spacing: .3px;
  }

  &-flag {
    display: block;

    width: 30px;
    height: 20px;
    flex: 0 0 30px;

    overflow: hidden;

    border-radius: 2px;

    object-fit: cover;

    box-shadow:
      0 0 0 1px rgb(0 0 0 / 10%);
  }

  &--departure {
    left:
      calc(
        #{$center-x}
        - #{$center-half}
        - #{$airport-width}
        + #{$airport-overlap}
      );

    clip-path:
      polygon(
        0 0,
        100% 0,
        100% 100%,
        16px 100%
      );

    .airport-face {
      clip-path:
        polygon(
          0 0,
          100% 0,
          100% 100%,
          13px 100%
        );
    }

    .airport-content {
      justify-content: flex-start;

      gap: 14px;

      padding:
        0 74px 0 24px;
    }

    .airport-text {
      align-items: flex-start;

      text-align: left;
    }
  }

  &--arrival {
    left:
      calc(
        #{$center-x}
        + #{$center-half}
        - #{$airport-overlap}
      );

    clip-path:
      polygon(
        0 0,
        100% 0,
        calc(100% - 16px) 100%,
        0 100%
      );

    .airport-face {
      clip-path:
        polygon(
          0 0,
          100% 0,
          calc(100% - 13px) 100%,
          0 100%
        );
    }

    .airport-content {
      justify-content: flex-end;

      gap: 14px;

      padding:
        0 24px 0 74px;
    }

    .airport-text {
      align-items: flex-end;

      text-align: right;
    }
  }
}
